<nav>
    <a href="#/">首页</a>
    <span> > </span>
    <span>课程信息</span>
</nav>
<div class="subMess">
	<div class="mask" ng-show="updating || toClass"></div>
	<div class="updateBox" ng-show="updating">
		<div class="closeUpBox" ng-click="updating=false">×</div>
		<ul>			
			<li><span>课程号：</span><input type="text" class="txt" ng-model="upSubNo" disabled="disabled"></li>
			<li><span>课程名：</span><input type="text" class="txt" ng-model="upSubName"></li>
			<li><span>授课教师工号：</span><input type="text" class="txt" ng-model="upTno"></li>
			<li><p ng-show="upMess">{{upMess}}</p></li>			
			<li><input type="submit" value="确认" class="btn" ng-click="updateSub()"></li>
		</ul>
	</div>
	<div class="toClassBox" ng-show="toClass">
		<div class="closeUpBox" ng-click="toClass=false">×</div>
		<ul>
			<li><span>课程号：</span><input type="text" class="txt" ng-model="toClassSubNo" disabled="disabled"></li>
			<li><span>课程名：</span><input type="text" class="txt" ng-model="toClassSubName" disabled="disabled"></li>
			<li>
				<span>专业：</span>
	            <select ng-model="major" ng-init="major='暂无'">
	                <option value="暂无" ng-show="false">请选择专业</option>
	                <option value="计算机科学与技术">计算机科学与技术</option>
	                <option value="医学信息工程">医学信息工程</option>
	                <option value="卫生检验与检疫">卫生检验与检疫</option>
	                <option value="医学检验技术">医学检验技术</option>
	                <option value="听力与言语康复">听力与言语康复</option>
	            </select>
	            &nbsp;&nbsp;
	            <span>年级：</span>
	            <select ng-model="year" ng-init="year='暂无'">
	                <option value="暂无" ng-show="false">请选择年级</option>
	                <option value="2014级">2014级</option>
	                <option value="2015级">2015级</option>
	                <option value="2016级">2016级</option>
	                <option value="2017级">2017级</option>
	                <option value="2018级">2018级</option>
	            </select>
	            &nbsp;&nbsp;
	            <span>班级：</span>
	            <select ng-model="clas" ng-init="clas='暂无'">
	                <option value="暂无" ng-show="false">请选择班级</option>
	                <option value="1班">1班</option>
	                <option value="2班">2班</option>
	                <option value="3班">3班</option>
	                <option value="4班">4班</option>
	                <option value="5班">5班</option>
	            </select>
			</li>
			<li><p ng-show="upMess2">{{upMess2}}</p></li>
			<li><button class="btn" ng-click="addToClass()">将《{{toClassSubName}}》添加到该班级</button></li>
		</ul>
	</div>
	<div class="find">
        <input type="text" placeholder="请输入课程号" ng-model="bySubNo"><button ng-click="findBySubNo()">按课程号查找</button>
        <input type="text" placeholder="请输入课程名" ng-model="byName"><button ng-click="findByName()">按课程名查找</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button ng-show="bySubNo!=''||byName!=''" ng-click="reload()">全部课程</button>
    </div>
    <div class="subList">
	    <ul class="title">
	        <li>课程号</li><li>课程名</li><li>授课教师工号</li><li>授课教师姓名</li><li>相关考试</li><li>操作</li>
	    </ul>
	    
	    <ul ng-repeat="sub in subjects">
	        <li>{{sub.subNo}}</li><li>{{sub.subName}}</li><li>{{sub.tNo}}</li><li>{{sub.tName}}</li><li><a href="#/a_eMess/{{sub.subName}}">查看</a></li>
	        <li><a href="javascript:;" ng-click="updateClick(sub.subNo, sub.subName, sub.tNo, sub.tName)">修改</a> <a href="javascript:;" ng-click="delSub(sub.subNo)">删除</a>
	        	<a href="javascript:;" ng-click="addToClick(sub.subNo, sub.subName)">添加到班级</a></li>
	    </ul>
	</div>
</div>
