<nav>
    <a href="#/">首页</a>
    <span> > </span>
    <a href="#/a_sMess">学生信息</a>
    <span> > </span>
    <span>待参加的考试</span>
</nav>
<div class="waitTest">
    <ul>
        <li>学号</li><li>姓名</li><li>考试名称</li><li>科目</li><li>操作</li>
    </ul>
    <ul ng-repeat="waitTest in waitTests track by $index">
        <li>{{waitTest.sNo}}</li><li>{{waitTest.sName}}</li><li>{{waitTest.eName}}</li><li>{{waitTest.eSub}}</li>
        <li><a href="javascript:;" ng-click="delStuExam(waitTest.id)">删除</a></li>
    </ul>
    <p ng-bind="mess" class="mess"></p>
</div>
